{{ define "main" }}
<p>Incomplete archive of stuff that taught me, helped me, or I enjoyed reading:</p>
<ul id="reads">
  {{ range $.Site.Data.reads | shuffle }}
  <li>
    <section>
      <h3><a href="{{ .url }}">{{ .title }}</a></h3>
      {{ with .tags }}
        [
        {{ range . }}
          <a class="tag" href="#" onclick="select_tag(this.textContent)">{{ . }}</a>
        {{ end }}
        ]
      {{ end }}
    </section>
  </li>
  {{ end }}
</ul>
{{ $readsJs := resources.Get "reads.js" | resources.Fingerprint "sha256" }}
<script type="text/javascript" src="{{ $readsJs.RelPermalink }}" integrity="{{ $readsJs.Data.Integrity }}"></script>
{{ end }}
