<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
{{ partial "head.html" . }}
<body>
  {{ partial "header.html" . }}
  {{ block "main" . }}{{ end }}
  <img alt="" src="https://ipv4.games/claim?name=nothub@github" width="0" height="0" style="position: fixed; display: none">
  {{ $scrollTopJs := resources.Get "scrolltop.js" | resources.Fingerprint "sha256" }}
  <script type="text/javascript" src="{{ $scrollTopJs.RelPermalink }}" integrity="{{ $scrollTopJs.Data.Integrity }}"></script>
  {{ $kopimiJs := resources.Get "kopimi.js" | resources.Fingerprint "sha256" }}
  <script type="text/javascript" src="{{ $kopimiJs.RelPermalink }}" integrity="{{ $kopimiJs.Data.Integrity }}"></script>
  <script data-goatcounter="https://hub.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</body>
</html>
