{{ define "main" }}
<main>
  <article>
    <h1>{{ .Title }}</h1>
    {{ with .Date }}
      <time>{{ .Format "2006-01-02" }}</time>
    {{ end }}
    {{ with .Params.tags }}
      [
      {{ range . }}
        {{ $href := print (relURL "tags/") (urlize .) }}
        <a class="tag" href="{{ $href }}">{{ . }}</a>
      {{ end }}
      ]
    {{ end }}
    {{ .Content }}
  </article>
  <br>
  <p id="etx">␃</p>
</main>
{{ $anchorJs := resources.Get "anchor.min.js" | resources.Fingerprint "sha256" }}
<script type="text/javascript" src="{{ $anchorJs.RelPermalink }}" integrity="{{ $anchorJs.Data.Integrity }}"></script>
<script>
  anchors.add();
</script>
{{ end }}
