{{ define "main" }}
<table style="width: auto">
  <tbody style="border: 0">
  <tr style="border: 0">
    <td style="vertical-align: center;">
      <main>
        <section style="width: 90%">
          {{ .Content }}
        </section>
      </main>
    </td>
    <td style="width: auto">
      <aside>
        <dl>
          <dt>email</dt>
          <dd><a href="mailto:contact@hub.lol">contact@hub.lol</a></dd>
          <dt>irc</dt>
          <dd><a href="ircs://irc.libera.chat/hub,isuser">hub@libera.chat</a></dd>
          <dt>discord</dt>
          <dd>hub#6408</dd>
          <dt>mastodon</dt>
          <dd><a href="https://honks.hub.lol/u/hub" rel="me" target="_blank">@hub@honks.hub.lol</a></dd>
          <dt>github</dt>
          <dd><a href="https://github.com/nothub" rel="me" target="_blank">nothub</a></dd>
          <dt>codeberg</dt>
          <dd><a href="https://codeberg.org/nothub" rel="me" target="_blank">nothub</a></dd>
          <dt>codewars</dt>
          <dd><a href="https://www.codewars.com/users/nothub" rel="me" target="_blank">nothub</a></dd>
          <dt>linkedin</dt>
          <dd><a href="https://www.linkedin.com/in/flhuebner" rel="me" target="_blank">flhuebner</a></dd>
        </dl>
      </aside>
    </td>
  </tr>
  </tbody>
</table>
{{ end }}
