<!DOCTYPE html>
<html lang="en">
{{ template "head.gohtml" -}}
<body>
{{ template "nav.gohtml" -}}
<main style="display: flex;flex-flow: row wrap;justify-content: space-around">
    <section style="min-width:30%;max-width:70%">
        <br>
        <p>
            👋 Hi, I am Florian Hübner and this is my corner of the internet.
        </p>
        <p>
            I started my professional journey into information technology in 2008. My current hat says Cloud Engineer.
            I have done some development in Go, Java, Shell and Python and infrastructure operations on-premise and in the cloud.
            I like open source software and hoard a big pile of unfinished projects. I prefer to do my computing on Linux.
            I live in northern Germany.
        </p>
    </section>
    <section>
        <aside style="margin-left:5px;margin-right:5px">
            <img alt="photo of me" src="/static/me.png" style="border-radius: 50%;float: none">
            <dl>
                <dt>
                    email
                </dt>
                <dd>
                    <a href="mailto:contact@hub.lol">contact@hub.lol</a>
                </dd>
                <dt>
                    github
                </dt>
                <dd>
                    <a href="https://github.com/nothub" rel="me" target="_blank">nothub</a>
                </dd>
                <dt>
                    codeberg
                </dt>
                <dd>
                    <a href="https://codeberg.org/fhuebner" rel="me" target="_blank">fhuebner</a>
                </dd>
                <dt>
                    linkedin
                </dt>
                <dd>
                    <a href="https://www.linkedin.com/in/flhuebner" rel="me" target="_blank">flhuebner</a>
                </dd>
            </dl>
        </aside>
    </section>
</main>
{{ template "footer.gohtml" -}}
</body>
</html>
