<!DOCTYPE html>
<html lang="en">
{{ template "head.tmpl" -}}
<body>
{{ template "nav.tmpl" -}}
<main style="display: flex;flex-flow: row wrap;justify-content: space-between">
    <section style="min-width:33%;max-width:67%">
        <p>
            Hi, I am hub and this is my corner of the internet.
        </p>
        <p>
            I started my professional journey in information technology in 2008, and currently I am a student of
            computer science. I have done some development in Java, Go, Python and Bash, and infrastructure operations
            on-premise and in the cloud. I hoard a big pile of unfinished projects and prefer to do my computing on
            Linux. I live in northern Germany.
        </p>
    </section>
    <aside style="margin-left:5px;margin-right:5px">
        <dl>
            <dt>
                email
            </dt>
            <dd>
                <a href="mailto:contact@hub.lol">contact@hub.lol</a>
            </dd>
            <dt>
                irc
            </dt>
            <dd>
                <a href="ircs://irc.libera.chat/hub,isuser">hub@libera.chat</a>
            </dd>
            <dt>
                discord
            </dt>
            <dd>
                hub#6408
            </dd>
            <dt>
                fediverse
            </dt>
            <dd>
                <a href="https://honks.hub.lol/u/hub" rel="me" target="_blank">@hub@honks.hub.lol</a>
            </dd>
            <dt>
                github
            </dt>
            <dd>
                <a href="https://github.com/nothub" rel="me" target="_blank">nothub</a>
            </dd>
            <dt>
                codeberg
            </dt>
            <dd>
                <a href="https://codeberg.org/nothub" rel="me" target="_blank">nothub</a>
            </dd>
            <dt>
                codewars
            </dt>
            <dd>
                <a href="https://www.codewars.com/users/nothub" rel="me" target="_blank">nothub</a>
            </dd>
            <dt>
                linkedin
            </dt>
            <dd>
                <a href="https://www.linkedin.com/in/flhuebner" rel="me" target="_blank">flhuebner</a>
            </dd>
        </dl>
    </aside>
</main>
{{ template "footer.tmpl" -}}
</body>
</html>
