<!DOCTYPE html>
<html lang="en" style="min-height: 95%; margin: 10px; position: relative">
{{ template "head.tmpl" -}}
<body style="min-height: 90%; height: 95%">
{{ template "header.tmpl" -}}
<aside>aside</aside>
<main>
    <article>article
        <section>section</section>
        <section>section</section>
    </article>
</main>
{{ template "footer.tmpl" -}}
</body>
</html>
