<!DOCTYPE html>
<html lang="en">
{{ template "head.tmpl" -}}
<body>
{{ template "nav.tmpl" -}}
<aside>aside</aside>
<main>
    <article>article
        <section>section</section>
        <section>section</section>
    </article>
</main>
{{ template "footer.tmpl" -}}
</body>
</html>
