<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf8">
    <title>{{ .path }}</title>
    <meta name="author" content="Florian Hübner">
    <meta content="{{ .path }} git {{ .repo }}" name="go-import">
    <meta http-equiv="Refresh" content="5; URL={{ .repo }}"/>
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="data:,">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
</head>
<body>
{{ template "nav.gohtml" -}}
<main>
    <h1>{{ .path }}</h1>
    <br>
    <section style="display: flex; flex-direction: column; gap: 1.5em; align-items: center">
        <section>Repository lives at: <a href="{{ .repo }}">{{ .repo }}</a></section>
        <section id="countdown">Redirecting in 5 seconds...</section>
        <section><img src="{{ .gopher }}" height="128px" alt="funny gopher"></section>
    </section>
</main>
<script>
    const countdown = document.getElementById('countdown');
    let seconds = 5 - 1;
    setInterval(function () {
        countdown.textContent = 'Redirecting in ' + seconds + ' seconds...'
        if (seconds > 0) seconds--
    }, 1000);
</script>
{{ template "footer.gohtml" -}}
</body>
</html>
