<head>
    <meta charset="utf8">
    <title>hub.lol</title>
    <link rel="icon" href="data:image/png;base64,">
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/milligram.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="alternate" type="application/rss+xml" href="/rss.xml" title="hub.lol">
    <meta name="author" content="hub">
    <meta name="ICBM" content="52.265, 10.525">
    <meta property="og:image" content="/assets/man.gif">
    <meta property="twitter:card" content="summary_large_image">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
</head>
