<!DOCTYPE html>
<html lang="en" style="min-height: 95%; margin: 10px; position: relative">
<head>
  <meta charset="utf8">
  <link href="data:image/png;base64," rel="icon">
  <title>hub.lol</title>
  <meta content="hub" name="author">
  <meta content="52.265, 10.525" name="ICBM">
  <meta content="/static/man.gif" property="og:image">
  <meta content="summary_large_image" property="twitter:card">
</head>
<body style="min-height: 90%; height: 95%">
<header>header</header>
<nav>nav</nav>
<aside>aside</aside>
<main>
  <article>article
    <section>section</section>
    <section>section</section>
  </article>
</main>
<footer>footer</footer>
<!-- TODO: https://github.com/MariaLetta/free-gophers-pack and https://github.com/egonelbre/gophers -->
<img id="gopher" src="/static/gopher.svg" width="256" style="position: absolute; bottom: 0; right: 5px">
</body>
</html>
