<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8">
    <link rel="icon" href="data:image/png;base64,">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <title>
      hub.lol
    </title>
    <meta name="dcterms.date" content="2023-07-09">
    <meta name="author" content="hub">
    <meta name="ICBM" content="52.265, 10.525">
    <link rel="alternate" type="application/rss+xml" href="/index.xml" title="hub.lol">
    <link rel="stylesheet" href="/style.88afaff6f10cb333e812a01a93e85ca20d60d8eb2e36445ab4a1be5fd4622c78.css">
    <meta property="og:image" content="/man.gif">
    <meta property="twitter:card" content="summary_large_image">
    <meta name="generator" content="Hugo -- gohugo.io">
  </head>
  <body>
    <header>
      <div style="position: relative">
        <a href="https://web.archive.org/web/20210312101244/http://www.kopimi.com/kopimi/" target="_blank"><img id="kopimi" alt="kopimi" src="/kopimi.svg"></a>
      </div>
      <table style="width:auto">
        <tbody style="border:0">
          <tr style="border:0">
            <td>
              <p id="house">
                _̴ı̴̴̡̡̡ ̡̡ ̡͌l̡*̡̡ ̴̡ı̴̴̡ ̡̡͡|̲̲̲͡͡͡ ̲▫̲͡ ̲̲̲͡͡π̲̲͡͡ ̲̲͡▫̲̲͡͡ ̲|̡̡̡ ̡ ̴̡ı̴̡̡ ̡͌l̡̡̡ ̡͌l̡._
              </p>
            </td>
            <td>
              <nav>
                <a class="nav_link" href="/">About</a> <a class="nav_link" href="/posts/">Ramblings</a> <a class="nav_link" href="/reads/">Reads</a> <a class="nav_link" href="https://honks.hub.lol/">Honks</a>
              </nav>
            </td>
          </tr>
        </tbody>
      </table>
    </header>
    <table style="width: auto">
      <tbody style="border: 0">
        <tr style="border: 0">
          <td style="vertical-align: center;">
            <main>
              <section style="width: 90%">
                <p>
                  Hi, I am hub and this is my corner of the internet.
                </p>
                <p>
                  I started my professional journey in information technology in 2008, and currently I am a student of computer science. I have done some development in Java, Go, Python and Bash, and infrastructure operations on-premise and in the cloud. I hoard a big pile of unfinished projects and prefer to do my computing on Linux. I live in northern Germany.
                </p>
              </section>
            </main>
          </td>
          <td style="width: auto">
            <aside>
              <dl>
                <dt>
                  email
                </dt>
                <dd>
                  <a href="mailto:contact@hub.lol">contact@hub.lol</a>
                </dd>
                <dt>
                  irc
                </dt>
                <dd>
                  <a href="ircs://irc.libera.chat/hub,isuser">hub@libera.chat</a>
                </dd>
                <dt>
                  discord
                </dt>
                <dd>
                  hub#6408
                </dd>
                <dt>
                  mastodon
                </dt>
                <dd>
                  <a href="https://qoto.org/@hub" rel="me" target="_blank">hub@qoto.org</a>
                </dd>
                <dt>
                  github
                </dt>
                <dd>
                  <a href="https://github.com/nothub" rel="me" target="_blank">nothub</a>
                </dd>
                <dt>
                  codeberg
                </dt>
                <dd>
                  <a href="https://codeberg.org/nothub" rel="me" target="_blank">nothub</a>
                </dd>
                <dt>
                  codewars
                </dt>
                <dd>
                  <a href="https://www.codewars.com/users/nothub" rel="me" target="_blank">nothub</a>
                </dd>
                <dt>
                  linkedin
                </dt>
                <dd>
                  <a href="https://www.linkedin.com/in/flhuebner" rel="me" target="_blank">flhuebner</a>
                </dd>
              </dl>
            </aside>
          </td>
        </tr>
      </tbody>
    </table><img alt="" src="https://ipv4.games/claim?name=nothub@github" width="0" height="0" style="position: fixed; display: none">
    <script type="text/javascript" src="/scrolltop.js" integrity="sha256-1bANR+OKk6+6LW8dBI6siYu0/jQUJFRAcgayPJnv83o="></script>
    <script type="text/javascript" src="/kopimi.js" integrity="sha256-PSA2y/VDlYwJSuVy5A1R5+YgVpNS3J46po+ucNl+IZk="></script>
  </body>
</html>
