<input class="theme-switcher" id="theme-switcher" type="checkbox">
<label class="theme-switcher-label" for="theme-switcher">
    <i style="font-size:90%;padding-left:0">🌞</i>
    <i style="font-size:90%;padding-right:4px">🌛</i>
    <span class="theme-switcher-knob"></span>
</label>
<script defer type="text/javascript" src="/static/theme-switcher.js"></script>
<script defer type="text/javascript" src="/static/scrolltop.js"></script>
<nav style="text-align:center">
    <a class="nav_link" href="/about"><p id="house">_̴ı̴̴̡̡̡ ̡̡ ̡͌l̡*̡̡ ̴̡ı̴̴̡ ̡̡͡|̲̲̲͡͡͡ ̲▫̲͡ ̲̲̲͡͡π̲̲͡͡ ̲̲͡▫̲̲͡͡ ̲|̡̡̡ ̡ ̴̡ı̴̡̡ ̡͌l̡̡̡ ̡͌l̡._</p> About</a>
    <a class="nav_link" href="/posts/">Posts</a>
    <a class="nav_link" href="/reads/">Reads</a>
    <a class="nav_link" href="/projects/">Projects</a>
    <a class="nav_link" href="https://honks.hub.lol/">Honks</a>
    <a class="nav_link" href="https://git.hub.lol/">Git</a>
</nav>
