<!DOCTYPE html>
<html lang="en">
{{ template "head.gohtml" -}}
<body>
{{ template "nav.gohtml" -}}
<main>
{{ . }}
</main>
<p style="text-align: center">␃</p>
{{ template "footer.gohtml" -}}
</body>
</html>
