<!DOCTYPE html>
<html lang="en">
{{ template "head.gohtml" -}}
<body>
{{ template "nav.gohtml" -}}
<main>
<section>
    <h1>{{ .Meta.Title }}</h1>
    <time>{{ .Meta.DateString }}</time>
    [ {{ range .Meta.Tags }} <a class="tag" href="/tags/{{ . }}">{{ . }}</a> {{ end }} ]
    <p>{{ .Meta.Desc }}</p>
</section>
{{ .Content -}}
</main>
<p style="text-align: center; color: var(--secondary)">␃</p>
{{ template "footer.gohtml" -}}
</body>
</html>
