<!DOCTYPE html>
<html lang="en">
{{ template "head.gohtml" -}}
<body>
{{ template "nav.gohtml" -}}
<main>
    <ul>
        {{ range $slug, $html := . }}
            <li><a href="./{{ $slug }}">{{ $slug }}</a></li>
        {{ end }}
    </ul>
</main>
{{ template "footer.gohtml" -}}
</body>
</html>
