<!DOCTYPE html>
<html lang="en">
{{ template "head.gohtml" -}}
<body>
{{ template "nav.gohtml" -}}
<main>
    <h1>Posts</h1>
    <p>A few things I wrote down for some reason.</p>
    {{ range . }}
        <section>
            <a href="/posts/{{ .Slug }}"><h2>{{ .Meta.Title }}</h2></a>
            <time>{{ .Meta.DateString }}</time>
            [ {{ range .Meta.Tags }}<a class="tag" href="/tags/{{ . }}">{{ . }}</a> {{ end }}]
            <p>{{ .Meta.Desc }}</p>
        </section>
    {{ end }}
</main>
{{ template "footer.gohtml" -}}
</body>
</html>
