<!DOCTYPE html>
<html lang="en">
{{ template "head.gohtml" -}}
<body>
{{ template "nav.gohtml" -}}
<main>
    <h1>Posts</h1>
    <p>A few things I wrote down for some reason.</p>
    {{ range $slug, $post := . }}
        <section>
            <a href="./posts/{{ $slug }}"><h2>{{ $post.Meta.Title }}</h2></a>
            <time>{{ $post.Meta.DateString }}</time>
            [ {{ range $post.Meta.Tags }}<a class="tag" href="/tags/{{ . }}">{{ . }}</a> {{ end }}]
            <p>{{ $post.Meta.Desc }}</p>
        </section>
    {{ end }}
</main>
{{ template "footer.gohtml" -}}
</body>
</html>
