<!DOCTYPE html>
<html lang="en" style="min-height: 95%; margin: 10px; position: relative">
{{ template "head.tmpl" -}}
<body style="min-height: 90%; height: 95%">
{{ template "header.tmpl" -}}
<main style="display: flex;">
    <section style="width: 90%">
        <p>
            This is a list of some projects I made or contributed to.
        </p>
        <section style="display:flex;flex-direction:row;flex-flow: row wrap;">
            {{ range . }}
                <section class="project-card" style="min-width: 300px;max-width: 300px;">
                    <p>
                        <a href="{{ .Url }}">{{ .Title }}</a>{{ $stars := .Stars }}{{ if gt $stars 0 }} {{ $stars }} ⭐{{ end }}
                    </p>
                    <p>{{ .Desc }}</p>
                    <p>{{ .Role }}</p>
                    <p>{{ .Tags }}</p>
                    <section class="project-langs">
                        {{ range .Langs -}}
                            <p class="project-lang" style="display:inline">{{ . }}</p>
                        {{- end }}
                    </section>
                </section>
            {{ end }}
        </section>
    </section>
</main>
<script defer>
    const langColors = new Map([
        ["dockerfile", "#384D54"],
        ["go", "#00ADD8"],
        ["java", "#B07219"],
        ["lua", "#000080"],
        ["perl", "#0298C3"],
        ["python", "#3572A5"],
        ["shell", "#89E051"],
    ]);
    for (const card of Array.from(document.getElementsByClassName("project-card"))) {
        const langs = Array.from(card.getElementsByClassName("project-langs")[0].getElementsByClassName("project-lang"))
        for (const lang of langs) {
            if (langColors.has(lang.innerText)) {
                lang.style.color = langColors.get(lang.innerText);
            }
        }
    }
</script>
<style>
    .project-lang + .project-lang:before {
        content: " "
    }

    .project-card {
        border: var(--secondary);
        border-width: 1px;
        border-style: solid;
        box-shadow: var(--secondary);
        margin: 10px 10px 10px 0;
        padding: 5px 10px 10px;
    }
</style>
{{ template "footer.tmpl" -}}
</body>
</html>
