<!DOCTYPE html>
<html lang="en">
{{ template "head.gohtml" -}}
<body>
{{ template "nav.gohtml" -}}
<main>
    <h1>Projects</h1>
    <section>
        <p>
            These are some projects I started or contributed to:
        </p>
        <section style="display: flex;flex-flow: row wrap">
            {{ range . }}
                <section class="project-card">
                    <section>
                        <a href="{{ .Url }}">{{ .Title }}</a>
                        {{ $stars := .Stars }}{{ if gt $stars 0 }} {{ $stars }} ⭐{{ end }}
                        <p class="project-role">{{ .Role }}</p>
                    </section>
                    <section class="project-tags" style="display: flex;flex-flow: row wrap;justify-content: flex-start">
                        {{ range .Langs -}}
                            <p class="project-lang">{{ . }}</p>
                        {{- end }}
                        {{ range .Tags -}}
                            <p class="project-tag">{{ . }}</p>
                        {{- end }}
                    </section>
                    <p class="project-desc">{{ .Desc }}</p>
                </section>
            {{ end }}
        </section>
    </section>
</main>
<script defer>
    const langColors = new Map([
        ["bash", "#2D3A3E"],
        ["c", "#555555"],
        ["clojure", "#DB5855"],
        ["cpp", "#178600"],
        ["crystal", "#000100"],
        ["dockerfile", "#384D54"],
        ["go", "#00ADD8"],
        ["hcl", "#844FBA"],
        ["holyc", "#FFEFAF"],
        ["java", "#B07219"],
        ["javascript", "#F1E05A"],
        ["lua", "#000080"],
        ["nim", "#FFC200"],
        ["nix", "#7E7EFF"],
        ["perl", "#0298C3"],
        ["python", "#3572A5"],
        ["shell", "#89E051"],
        ["svelte", "#FF3E00"],
        ["typescript", "#3178C6"],
        ["zig", "#EC915C"],
    ]);
    for (const card of Array.from(document.getElementsByClassName("project-card"))) {
        const langs = Array.from(card.getElementsByClassName("project-tags")[0].getElementsByClassName("project-lang"))
        for (const lang of langs) {
            if (langColors.has(lang.innerText)) {
                lang.style.color = langColors.get(lang.innerText);
            }
        }
    }
</script>
{{ template "footer.gohtml" -}}
</body>
</html>
