<!DOCTYPE html>
<html lang="en">
{{ template "head.tmpl" -}}
<body>
{{ template "nav.tmpl" -}}
<main>
    <section>
        <p>
            These are some projects I started or contributed to.
        </p>
        <section id="projects">
            {{ range . }}
                <section class="project-card">
                    <section>
                        <a href="{{ .Url }}">{{ .Title }}</a>
                        {{ $stars := .Stars }}{{ if gt $stars 0 }} {{ $stars }} ⭐{{ end }}
                        <p class="project-role">{{ .Role }}</p>
                    </section>
                    <section class="project-tags">
                        {{ range .Langs -}}
                            <p class="project-lang">{{ . }}</p>
                        {{- end }}
                        {{ range .Topics -}}
                            <p class="project-topic">{{ . }}</p>
                        {{- end }}
                    </section>
                    <br>
                    <br>
                    <p class="project-desc">{{ .Desc }}</p>
                </section>
            {{ end }}
        </section>
    </section>
</main>
<script defer>
    const langColors = new Map([
        ["dockerfile", "#384D54"],
        ["go", "#00ADD8"],
        ["java", "#B07219"],
        ["lua", "#000080"],
        ["perl", "#0298C3"],
        ["python", "#3572A5"],
        ["shell", "#89E051"],
    ]);
    for (const card of Array.from(document.getElementsByClassName("project-card"))) {
        const langs = Array.from(card.getElementsByClassName("project-tags")[0].getElementsByClassName("project-lang"))
        for (const lang of langs) {
            if (langColors.has(lang.innerText)) {
                lang.style.color = langColors.get(lang.innerText);
            }
        }
    }
</script>
{{ template "footer.tmpl" -}}
</body>
</html>
