<!DOCTYPE html>
<html lang="en">
{{ template "head.gohtml" -}}
<body>
{{ template "nav.gohtml" -}}
<main>
    <h1>Tags</h1>
    <p>A bunch of references to different things, grouped by tag.</p>
    <div class="tagcloud"><!-- TODO --></div>
    {{ range $tag, $refs := . }}
        <section>
            <h2><a class="tag" href="/tags/{{ $tag }}">{{ $tag }}</a></h2>
            <ul>
                {{ range $refs }}
                    <li><a href="{{ .Link }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </section>
    {{ end }}
</main>
{{ template "footer.gohtml" -}}
</body>
</html>
